.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.hero-slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-content {
    color: white;
    max-width: 600px;
}
.hero-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* Adjust darkness here */
}