/* .heroSwiper{
    height:100vh;
}

.hero-slide{
    width:100%;
    height:100vh;

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-overlay{
    text-align:center;
    color:white;
    background:rgba(0,0,0,.45);

    padding:40px;
    border-radius:10px;
}

.hero-overlay h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-overlay p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-overlay button{
    padding:15px 35px;
    border:none;
    border-radius:5px;
    background:#1b5e20;
    color:white;
    font-size:18px;
} */