* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,
body {
    width:100%;
    min-height:100%;
}


body {
    font-family: Arial, sans-serif;
    background:#111827;
}


#root {

    min-height:100vh;

    background:linear-gradient(
        180deg,
         #f8fbf5 0%,
        #eef6e8 45%,
        #ffffff 100%
    );

    padding:40px;

}